@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
